@media screen and (max-width: 800px) {

    .inner-block {
        width: 740px;
    }

    .experience-info-section .form-holder .input-box {
        width: 265px;
    }

    .js-level-section .js-level-box .point.item-2:after {
        left: 61px;
    }

    .js-level-section .js-level-box .point.item-3:after {
        left: 109px;
    }

}

@media screen and (max-width: 768px) {

    .head-menu {
        display: none;
        padding: 10px 0;
        position: absolute;
        top: 130%; right: 0;
        background: #fff;

        border-radius: 3px;
        -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
        -o-box-shadow: 0 3px 8px rgba(0,0,0,0.2);
        box-shadow: 0 3px 8px rgba(0,0,0,0.2);

    }

    .head-menu ul li {
        display: block;
        padding: 0;
    }

    .head-menu ul li a {
        display: block;
        font-weight: 300;
        font-size: 20px;
        padding: 10px 20px;
    }

    .menu-link span {
        width: 30px;
        height: 4px;
        display: block;
        margin: 0 0 4px;
        position: relative;
        background: #435993;

        border-radius: 3px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

    }

    .header-section .menu-link.active span:last-child {
        display: none;
    }

    .menu-link.active span:first-child {
        top: 10px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-link.active span:nth-child(2) {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 2px;
    }

}
